.add-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-product-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.add-product-form h1 {
    margin-bottom: 20px;
    text-align: center;
}
